<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Liburuak</title>
    <link rel="stylesheet" href="/itxura.css" />
  </head>
  <body>
    <h1>Magnet loturak</h1>
    <h2>Liburuak</h2>
    <ul>
      {{#liburuak}}
        <li><a href="{{magnet}}"><img src="/magnet.gif" alt="imana" /></a> {{titulua}}</li>
      {{/liburuak}}
    </ul>

    <h2>Egileak</h2>
    <ul>
      {{#egileak}}
        <li>{{.}}</li>
      {{/egileak}}
    </ul>
    
    <h2>Erabiltzaileak</h2>
    <ul>
      {{#erabiltzaileak}}
        <li>{{izena}} ({{erabiltzailea}})</li>
      {{/erabiltzaileak}}
    </ul>    
  </body>
</html>