<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Liburuak</title>
    <link rel="stylesheet" href="/css/nagusia.css" />
  </head>
  <body>
    <h1>Liburuak</h1>
    <ul>
      {{#liburuak}}
        <li><a href="{{magnet}}"><img src="/magnet.gif" alt="imana" /></a> {{titulua}}</li>
      {{/liburuak}}
    </ul>
  </body>
</html>